<!doctype html>
<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css') }}" />
  <title>Connected Coffee machine</title>
  {% endblock %}
</head>

<center>
  {% block image %}
<img src="{{ url_for( 'static', filename='nespresso-machine.png') }}" width="30%" />
<br>
{% endblock %}

{% block location %}
Insomni'hack <b>smart coffee machine</b> demo :)
{% endblock %}

{% block warning %}
{% if warning %}
<p class="warning"> {{ warning }} </p>
{% endif %}
{% endblock %}

{% block buttons %}
<p>
<b>Brew a coffee remotely</b>
<br>
<a href="./ristretto" class="myButton">Ristretto</a>
<a href="./espresso" class="myButton">Espresso</a>
<a href="./lungo" class="myButton">Lungo</a>
</p>
{% endblock %}

{% block volume %}
<p>
<br>
<b>Modify volume (in ml) for a given cup</b><br>
<form action="./volume" method="get">

  <input type="radio" name="cuptype" value="0">Ristretto (default: 25 ml, acceptable range: 15-30 ml)<br>
  <input type="radio" name="cuptype" value="1">Espresso (default: 40 ml, acceptable range: 30-70 ml)<br>
  <input type="radio" name="cuptype" value="2" checked>Lungo (default: 110 ml, , acceptable range: 70-130 ml)<br>
  <br>
  Volume in ml: <input type="text" name="volume"><br>
  <br>
  <input type="submit" value="Modify Cup Size" class="myButton">
</form>
</p>
{% endblock %}

</center>  
