{% extends "main.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css') }}" />
  <script language="javascript">
    var request = new XMLHttpRequest();
    {% if url %}
    request.open('POST', '{{ url }}');
    {% endif %}

request.onload = function() {
  if (request.status === 200) {
    // long process finished successfully, redirect user
    window.location = '/?warning='+request.responseText;
  } else {
    // oops, we got an error from the server
    alert('Something went wrong.');
  }
};

request.onerror = function() {
  // oops, we got an error trying to talk to the server
  alert('Something went wrong.');
}; 

request.send();
  </script>
<title>Connected Coffee machine</title>
{% endblock %}

{% block image %}
{{ super() }}
{% endblock %}

{% block location %}
{{ super() }}
{% endblock %}

{% block warning %}
{{ super() }}
{% endblock %}

<!-- no buttons ->

